body
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    background-color: #ecf4f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family: "Fjalla One", "Roboto", Helvetica, sans-serif;
    line-height: 1;
}

.header_title
{
    font-size: 60px;
    line-height: 1;
}

.anchor
{
    text-decoration: none;
    color: #ecf4f3;
}

.menu
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #006a71;
    color: #ecf4f3;
}

.footer
{
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #006a71;
    color: #ecf4f3;
}
