body
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    background-color: #ecf4f3;
    margin: 0px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family: "Fjalla One", "Roboto", Helvetica, sans-serif;
    line-height: 1;
}

.menu
{
    background-color: #006a71;
    color: #ecf4f3;
}

.menu ol
{
    margin: 0px 0px;
}

.anchor
{
    text-decoration: none;
    color: #ecf4f3;
}

.hero
{
    font-size: 50px;
    line-height: 1;
}

.footer
{
    background-color: #006a71;
    color: #ecf4f3;
}

.footer p
{
    margin-bottom: 0px;
}
