body
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    background-color: #ecf4f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family: "Fjalla One", "Roboto", Helvetica, sans-serif;
    line-height: 1;
}

header
{
    background-color: #006a71;
    color: #ff7e67;
}

.anchor
{
    text-decoration: none;
    color: #ff7e67;
}

.hero
{
    font-size: 50px;
    line-height: 1;
}

.project_specs
{
    width: 500px;
}

.image_box
{
    width: 500px;
}