:root{
    --primary-color: #e5e5e5;
    --secundary-color: #14213d;
    --third-color: #fca311;
    --font-color: #000000;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Hind', sans-serif;
    background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    line-height: 1.4;
}
.header{
    background-color: var(--secundary-color);
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: inherit;
    width: 85vw;
    margin: 0 auto;
    justify-content: center;
    padding: 2rem 0;
}
.container nav{
    display: inherit;
}
.header .container nav ol{
    list-style: none;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
}
.header .container nav ol li{
    margin: 0 0.5rem;
}
.anchor{
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
}
.anchor:hover{
    color: var(--third-color);
}

.hero{
    text-align: center;
    margin: 2rem auto 4rem;
    font-size: 3.5rem;
}
.hero strong{
    color: var(--third-color);
}
.portfolio{
    background-color: #ffffff;
}
.portfolio .container .portfolio_title{
    font-size: 1.8rem;
    margin: 1rem auto 1.5rem;
    text-align: center;
}
.portfolio_content{
    background-color: #ffffff;
}
.portfolio_content{
    width: 80vw;
    margin: 1.7rem auto;

}
.portfolio_content .project{
    width: 80vw;
    border: 0.1rem solid var(--secundary-color);
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;
}
.image{
    width: 100%;
}
.portfolio_content .project .project_title{
    width: 60vw;
    height: 8vh;
    margin: 0 auto;
    background-color: var(--primary-color);
    border-radius: 1rem;
    border: 0.1rem solid var(--secundary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: var(--secundary-color);
    position: relative;
    bottom: 2.3rem;
}
.portfolio_content .project .project_title:hover{
    background-color: var(--third-color);
    color: #ffffff;
}
.portfolio_content .project .project_description{
    width: 70vw;
    margin: 0 auto 2rem;
    line-height: 1.2;
}
.contact .container .contact_title{
    font-size: 1.8rem;
    margin: 1rem auto 1.5rem;
    text-align: center;
}
.contact_elements .contact_form{
    display: block;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}
.contact_elements .contact_form label{
    display: inherit;
}
.contact_elements .contact_form label span{
    font-size: 1.3rem;
    margin: 1rem auto;
}
.contact_elements .contact_form label input{
    display: inherit;
    width: 50vw;
    height: 7vh;
    margin: 1rem auto;
    padding: 1rem 0 1rem 3.5rem;
    background-image: url('../images/sobre.png');
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position-x: 1.3rem;
    background-position-y: center;
    border-radius: 1rem;
    border-color: var(--secundary-color);
    font-size: 1.1rem;
}
.contact_elements .contact_form > input{
    width: 20vw;
    height: 5vh;
    color: #ffffff;
    margin: 0.5rem auto 1rem;
    border-radius: 1rem;
    border-color: var(--secundary-color);
    background-color: var(--secundary-color);
}
.contact_elements .follow{
    font-size: 1.3rem;
    text-align: center;
    margin: 0.5rem auto 1rem;
}
.social{
    width: 39vw;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
}
.social .social_link{
    width: 3.5rem;
    height: 3.5rem;    
    background-size: 3.5rem 3.5rem;
}
.social_link.twitter{
    background-image: url('../images/social_media/svg/001-twitter.svg');
}
.social_link.instagram{
    background-image: url('../images/social_media/svg/011-instagram.svg');
}
.social_link.facebook{
    background-image: url('../images/social_media/svg/008-facebook.svg');
}
.footer{
    background-color: var(--secundary-color);
    color: var(--primary-color);
    text-align: center;
    line-height: 1rem;
}
.footer .dedication{
    margin: 1rem auto 2rem;
    font-size: 1.5rem;
    line-height: 1.7rem;
}
.footer .credits{
    font-size: 0.8rem;
    margin: 1rem auto;
}
.footer .credits a{
    text-decoration: none;
    color: inherit;
}
.footer .credits a:hover{
    color: var(--third-color);
}